APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:r/kLTDD4+++CkditRyvK14cS2sA3OOqtqGrkacHDeIg=
APP_DEBUG=true
APP_URL=http://smile_eyes.test

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=smile_eyes_db
DB_USERNAME=root
DB_PASSWORD=root


DB_CORE_CONNECTION=ppe_core
DB_CORE_HOST=mariadb
DB_CORE_PORT=3306
DB_CORE_DATABASE=ppe_core_db
DB_CORE_USERNAME=root
DB_CORE_PASSWORD=root

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=tien.luckyfor@gmail.com
MAIL_PASSWORD=ovtzzhewvffblvyn
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=tien.luckyfor@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

#PUSHER_APP_ID=1178250
#PUSHER_APP_KEY=f209d321f560d24c53b5
#PUSHER_APP_SECRET=3f4876ca2c46177dc51f
#PUSHER_APP_CLUSTER=ap1

PUSHER_APP_ID=1226006
PUSHER_APP_KEY=22b21c75383756d5471f
PUSHER_APP_SECRET=631c5a25c534760dfe4c
PUSHER_APP_CLUSTER=ap1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PASSPORT_CLIENT_ID=2
PASSPORT_CLIENT_SECRET=QcIaNOWfGHTDoAERIuzgv2vQfdlC3P86kKLnAm3s

GITHUB_CLIENT_ID=a9ca9a6ddc9edaad0b9b
GITHUB_CLIENT_SECRET=70a233104fbeaf922667dc2e27f2e8fbb7dc3329
GITHUB_REDIRECT_URL=https://se-be-v2.ppe.edu.vn/ppe-core/auth/handle

GOOGLE_CLIENT_ID=973812416564-nj9572utblle9jhuimntqpb1cs46f4uv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=DHu9LD_SK6gOPulmiacreCI6
GOOGLE_REDIRECT_URL=https://se-be-v2.ppe.edu.vn/ppe-core/auth/handle

FACEBOOK_CLIENT_ID=186069926497988
FACEBOOK_CLIENT_SECRET=5f7e75e37d8c0d311fe0ab9748f6b539
FACEBOOK_REDIRECT_URL=https://se-be-v2.ppe.edu.vn/ppe-core/auth/handle

REDIRECT_URL=https://se-be-v2.ppe.edu.vn/ppe-core/auth/handle

